* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(4, auto) 1fr auto;
  grid-template-columns: repeat(3, 1fr);
}

.title {
  text-align: center;
  background-color: #ddd;
  padding: 20px;
  grid-column: 1/-1;
}

.round-display {
  grid-column: 0/1;
  text-align: center;
  grid-row: 2/3;
  grid-column: 1/2;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.score {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-player {
  background-color: rgb(207, 42, 42);
  color: #fff;
}

.score-computer {
  background-color: rgb(41, 41, 138);
  color: #fff;
}

.score-player,
.score-computer,
.round-display {
  padding: 20px;
}

.outcome {
  grid-row: 3/4;
  grid-column: 1/-1;
  text-align: center;
  padding: 20px;
}

.reset-text {
  grid-row: 4/5;
  grid-column: 1/-1;
  text-align: center;
  font-size: 0.8rem;
  opacity: 0;
}

.btns {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn {
  width: 100px;
  height: 100px;
  border: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.btn:hover {
  cursor: pointer;
}

.weapon {
  font-size: 2rem;
}

@keyframes move-up-down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20%);
  }

  75% {
    transform: translateY(-20%);
  }

  100% {
    transform: translateY(0);
  }
}

.btn:hover .weapon-rock {
  animation: 1s move-up-down;
}

@keyframes wave {
  0% {
    transform: rotate(0);
  }

  30% {
    transform: rotate(45deg);
  }

  60% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(0);
  }
}

.btn:hover .weapon-paper {
  animation: 2s wave;
}

.btn:hover .weapon-scissors {
  animation: 2s move-up-down;
}

.btn:hover,
.btn:active {
  background-color: #bbb;
}

.score-text {
  display: block;
}

.btn--reset {
  border-radius: 10px;
  width: 100px;
  height: 50px;
  grid-row: -1;
  grid-column: 2/3;
  justify-self: center;
  margin-bottom: 20px;
}
